<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Projetos</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/simple-sidebar.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" th:src="@{/js/confirm-bootstrap.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<!-- DIALOG DELETE PROJECT-->
<form method="POST" th:action="@{/project/delete/{id}(id=${project.id})}" th:if="${project != null}">
  <div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title">Excluir projeto</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span th:text="${'Tem certeza que deseja excluir o projeto ' + project.id + ' - ' + project.name+ '?'}"></span>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Sim, quero deletar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(() => {
        $('#modal').modal('show');
      })
    </script>
  </div>
</form>

<div id="wrapper" class="wrapper.toggled toggled" style="margin-top: 50px">
  <!-- Sidebar -->
  <div th:replace="fragments/menu"></div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">

      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Projetos</strong>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
              <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="project : ${projects}">
                <td th:text="${project.id}"></td>
                <td th:text="${project.name}"></td>
                <td th:text="${project.description}"></td>
                <td th:text="${#dates.format(project.createdOn, 'dd/MM/yyyy')}"></td>
                <td>
                  <div class="btn-group pull-right">
                    <a
                      class="btn btn-sm btn-primary"
                      th:href="@{/project/view/{id}(id=${project.id})}">Detalhar</a>
                    <a
                      class="btn btn-sm btn-primary"
                      th:href="@{/project/edit/{id}(id=${project.id})}">Editar</a>
                    <a th:id="${project.id}"
                       th:href="@{/project/delete/{id}(id=${project.id})}"
                       class="delete btn btn-sm btn-danger confirModal">Excluir</a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel-footer">
          <a class="btn btn-sm btn-success"
             th:href="@{/project/add/}">Add projeto</a>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
    <div th:include="fragments/footer :: footer-authenticated" align="center"></div>
  </div>
</div>
</body>
</html>
