<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:fragment="menu">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li><a class="sidebar-brand" th:href="@{/dashboard}">Dashboard</a></li>
      <li><a th:href="@{/project}">Projetos</a></li>
      <li><a th:href="@{/df/add}">Funções de Dados</a></li>
      <li><a th:href="@{/us/add}">User Stories</a></li>
      <li><a th:href="@{/user}">Usuário</a></li>
      <li><a th:href="@{/admin/home}">Administração</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </div>
</div>
</body>

</html>
