<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <title>Acesso negado!</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/simple-sidebar.css}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div th:replace="fragments/header-login :: header"></div>
  <div th:replace="fragments/error/403"></div>
  <div align="center" th:include="fragments/footer :: footer-login"></div>
</body>
