<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/simple-sidebar.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div id="wrapper" class="wrapper.toggled toggled" style="margin-top:50px">
        <!-- Sidebar -->
        <div th:replace="fragments/menu"></div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <strong>Projetos Públicos</strong>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-sm table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Nº DF</th>
                                            <th>Nº US</th>
                                            <th>
                                                <span id="th-ci" data-placement="top" data-toggle="tooltip" 
                                            data-original-title="Contagem Indicativa">Contagem</span>
                                            </th>
                                            <th>Team</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="project : ${projects}">
                                            <td th:text="${project.id}"></td>
                                            <td th:text="${project.name}"></td>
                                            <td th:text="${project.dataFunctions.size()}"></td>
                                            <td th:text="${project.userStories.size()}"></td>
                                            <td th:text="${counter.calculeFunctionPoint(project)}">Started</td>
                                            <td>
                                                <ul>
                                                    <li th:each="member : ${project.team}" th:text="${member.user.name}">user name</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <div th:include="fragments/footer :: footer-authenticated" align="center"></div>
    </div>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        
        $('#th-ci').tooltip();
    </script>
</body>
</html>
