<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header-login :: header"></div>



<div class="container" style="margin-top: 50px">
  <br/>
  <div>
    <h2 data-th-text="#{label.welcome}"></h2>
      <p data-th-text="#{label.content}"></p>
      <p th:text="#{label.changeLang} + ':'"></p>
      <ul>
          <li>
              <a th:href="@{/login?lang=en_US}" data-th-text="#{label.lang.en-us}"></a>
          </li>
          <li>
              <a th:href="@{/login?lang=pt_BR}" data-th-text="#{label.lang.pt-br}"></a>
          </li>
          <li>
              <a th:href="@{/login?lang=es_ES}" data-th-text="#{label.lang.es-es}"></a>
          </li>
      </ul>
  </div>
  <form th:action="@{/login}" method="POST" class="form-signin">
    <h3 class="form-signin-heading">Seja Bem-vindo!</h3>
    <br/>
    <input type="text" id="email" name="email" placeholder="Email" class="form-control"/> <br/> <input
    type="password" id="password" name="password" placeholder="Senha" class="form-control"/> <br/>

    <div align="center" th:if="${param.error}">
      <p style="font-size: 20; color: #FF1C19;">Email ou senha inválida, tente novamente.</p>
    </div>

    <button class="btn btn-lg btn-primary btn-block" value="Login" type="submit">Login</button>
  </form>
  <div align="center" th:include="fragments/footer :: footer-login"></div>
</div>
</body>

</html>
