<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNGSpringIntegrationSuite" verbose="3" allow-return-values="true">

    <test name="TestNGSpringIntegration">
        <classes>
            <class name="br.ufrn.dct.apf.repository.AttributionRepositoryTest" />
            <class name="br.ufrn.dct.apf.repository.ProjectRepositoryTest" />
            <class name="br.ufrn.dct.apf.repository.RoleRepositoryTest" />
            <class name="br.ufrn.dct.apf.service.ProjectServiceTest" />
            <class name="br.ufrn.dct.apf.service.TeamServiceTest" />
            <class name="br.ufrn.dct.apf.service.UserServiceTest" />
            <class name="br.ufrn.dct.apf.service.UserStoryServiceTest" />
            <class name="br.ufrn.dct.apf.service.DataFunctionServiceTest" />
            <class name="br.ufrn.dct.apf.service.TransactionFunctionServiceTest" />
            <class name="br.ufrn.dct.apf.service.EstimateCountTest" />
            <class name="br.ufrn.dct.apf.service.IndicativeCountTest" />
            <class name="br.ufrn.dct.apf.APFApplicationTest" />
            <class name="br.ufrn.dct.apf.ConceitosTest" />
        </classes>
    </test>

</suite>
