<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNGSpringIntegration Suite" verbose="5">

    <test name="TestNGSpringIntegration">
        <classes>
            <class name="br.ufrn.dct.apf.service.ProjectServiceTest" />
            <class name="br.ufrn.dct.apf.service.TeamServiceTest" />
            <class name="br.ufrn.dct.apf.service.UserServiceTest" />
            <class name="br.ufrn.dct.apf.ConceitosTest" />
        </classes>
    </test>

</suite>